{% extends "base.html" %}

{% block title %}Linaro patches FAQ{% endblock %}
{% block heading %}FAQ{% endblock %}

{% block body %}

<h3>How often are the statistics updated?</h3>
</p>The statistics are generated dynamically and include even the most
recently submitted patches. The only exception is the "Patches per month"
chart, which doesn't include statistics for the current month.</p>

<h3>How do you know which patches have been accepted upstream?</h3>
<p>Every day we scan commits on the upstream master branch for every project
registered here and update the state of patches for which we find a matching
commit. When a patch is changed before being committed upstream, though, we
may not find the matching commit, so some patches have to be updated
manually.</p>

<h3>Why is there a big spike in the number of patches accepted in June
  2011?</h3>
<p>Because this website went live on that month and engineers were then
encouraged to go through their patches (including the ones submitted in
previous months) and mark the ones that had been accepted upstream but were
not picked up by our automated mechanism.</p>

<h3>What patches are included in Linaro statistics?</h3>
<p>Only patches that come from an @linaro.org address are included in our
statistics. If for any reason you cannot send patches using your @linaro.org
address, you can specify it in the body of the email using the format
understood by git-am.</p>

<h3>Are all patches listed here included in the statistics?</h3>
<p>No, patches that match <strong>any</strong> of the following conditions are
not included in our statistics:</p>
<ol>
  <li>Don't have an @linaro.org address as the author;</li>
  <li>Are in the 'Superseded' state;</li>
</ol>

<h3>How do you track the date a given patch was accepted?</h3>
<p>We use the date in which the patch was committed on the upstream's master
branch as the acceptance date. For patches whose state is updated manually,
though, we use the date of the state change.</p>

{% endblock %}
