{% extends "base.html" %}
{% block title %}Linaro{% endblock %}
{% block headers %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script>
    var monthChartData = {
      "datasets": [
	{
          "data": [{% for item in metrics %}{{item.1}},{% endfor %}],
          "pointStrokeColor": "#A682B8",
          "fillColor": "rgba(220,220,220,0.5)",
          "pointColor": "#A682B8",
          "strokeColor": "rgba(220,220,220,1)"
        },
	{
          "data": [{% for item in metrics %}{{item.2}},{% endfor %}],
          "pointStrokeColor": "#699509",
          "fillColor": "rgba(220,220,220,0.5)",
          "pointColor": "#699509",
          "strokeColor": "rgba(220,220,220,1)"
        },
      ],
      "labels": [
      {% for item in metrics %}
        "{{item.0}}",
      {% endfor %}
      ]
    };

    var acceptChartData = {
      labels: [{%for item in acceptance%}"{{item.0}}{%if forloop.last%}+{%endif%}",{%endfor%}],
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "#A682B8",
          highlightFill: "rgba(220,220,220,0.75)",
          highlightStroke: "rgba(220,220,220,1)",
          data: [{%for item in acceptance%}"{{item.1}}",{%endfor%}],
        },
      ],
    };

    var distributionChartData = {
      labels: [{%for item in distribution%}"{{item.0}}",{%endfor%}],
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "#A682B8",
          highlightFill: "rgba(220,220,220,0.75)",
          highlightStroke: "rgba(220,220,220,1)",
          data: [{%for item in distribution%}"{{item.1}}",{%endfor%}],
        },
      ],
    };
  </script>

<style>
li.pure-menu-item {
  background: #EEE;
}
li.pure-menu-selected {
  font-weight: bold;
}
div.pure-menu-horizontal {
  border-bottom: 1px solid #A682B8;
}
</style>

  <script>
function selectTab(item) {
  var tabid = item.parentElement.id;
  var ul = item.parentElement.parentElement;

  for(var i=0; i<ul.childElementCount; i++) {
    var li = ul.children[i];
    var divid = li.id.substr(0, li.id.length - 5);  // remove "-item"
    if(li.id != tabid) {
      document.getElementById(divid).style.display = "none";
      li.className = "pure-menu-item";
    }
    else {
      document.getElementById(divid).style.display = "block";
      li.className = "pure-menu-item pure-menu-selected";
    }
  }
}
  </script>
   <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
    {'gtm.start': new Date().getTime(),event:'gtm.js'}
    );var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N87XCWM');
  </script>
    <!-- End Google Tag Manager -->

{% endblock %}

{% block body %}

<h2>Upstream Patch Metrics for Linaro Engineers</h2>
<div class="pure-g">
  <div class="pure-u-10-24">
    <strong>Patches per month:</strong> <span style="color:#A682B8">Submitted</span>
    <span style="color:#699509">Accepted</span>
    <canvas id="month_chart" height="250" width="400"></canvas>
    <script>
      var ctx = document.getElementById("month_chart").getContext("2d");
      var chart = new Chart(ctx).Line(monthChartData);
    </script>
  </div>
  <div class="pure-u-7-24">
    <strong>Time-to-acceptance distribution</strong> (in days)
    <canvas id="accept_chart" height="250" width="250"></canvas>
    <script>
      var ctx = document.getElementById("accept_chart").getContext("2d");
      var chart = new Chart(ctx).Bar(acceptChartData);
    </script>
  </div>
  <div class="pure-u-7-24">
    <strong>Patch age distribution</strong> (days requiring feedback.
    {{last_distribution.1}} waiting over {{last_distribution.0}} days)
    <canvas id="dist_chart" height="250" width="250"></canvas>
    <script>
      var ctx = document.getElementById("dist_chart").getContext("2d");
      var chart = new Chart(ctx).Bar(distributionChartData);
    </script>
  </div>
</div>

When analyzing the charts above, please take into account that the process
which allows us to track patches was put in place at the end of January 2011
and that this website went live in June 2011. Check the
<a href="{% url 'linaro_metrics.views.faq_view' %}">FAQ</a> for answers to common
questions.<br/><br/>

<div class="pure-menu pure-menu-horizontal">
    <ul id="tab-list" class="pure-menu-list">
        <li id="cur-teams-item" class="pure-menu-item pure-menu-selected"><a href="#" onclick="selectTab(this)" class="pure-menu-link">Team Stats</a></li>
        <li id="projects-item" class="pure-menu-item"><a href="#" onclick="selectTab(this)" class="pure-menu-link">Project Stats</a></li>
	{% if old_teams %}
        <li id="old-teams-item" class="pure-menu-item"><a href="#" onclick="selectTab(this)" class="pure-menu-link">Old Teams</a></li>
	{% endif %}
    </ul>
</div>

<div id="cur-teams">
{% if cur_teams %}
  <ul>
  {% for t in cur_teams %}
    {% with team_name=t.name|urlencode %}
    <li><a href="/team/{{team_name}}/">{{t}}</a></li>
    {% endwith %}
  {% endfor %}
  </ul>
{% else %}
  <p>No teams are configured!</p>
{% endif %}
</div>

<div id="projects" style="display:None">
  <ul>
  {% for p in projects %}
    <li><a href="{% url 'patchwork.views.patch.patch_list' project_id=p.linkname %}">{{p.name}}</a></li>
  {% endfor %}
  </ul>
</div>

{% if old_teams and False %}
<div id="old-teams" style="display:None">
  <ul>
  {% for t in old_teams %}
    <li><a href="{% url 'linaro_metrics.views.team_view' team=t.name %}">{{t.display_name}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}
