{% extends "base.html" %}
{% block headers %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script>
    var monthChartData = {
      "datasets": [
	{
          "data": [{% for item in metrics %}{{item.1}},{% endfor %}],
          "pointStrokeColor": "#B0B0D0",
          "fillColor": "rgba(220,220,220,0.5)",
          "pointColor": "#B0B0D0",
          "strokeColor": "rgba(220,220,220,1)"
        },
	{
          "data": [{% for item in metrics %}{{item.2}},{% endfor %}],
          "pointStrokeColor": "#699509",
          "fillColor": "rgba(220,220,220,0.5)",
          "pointColor": "#699509",
          "strokeColor": "rgba(220,220,220,1)"
        },
      ],
      "labels": [
      {% for item in metrics %}
        "{{item.0}}",
      {% endfor %}
      ]
    };
  </script>
   <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
    {'gtm.start': new Date().getTime(),event:'gtm.js'}
    );var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N87XCWM');
  </script>
    <!-- End Google Tag Manager -->

  <style>
table#project_details {
  border: thin solid #E8E8E8;
}
table#project_details th {
  padding: 0.5em 1em;
  border: thin solid #E8E8E8;
}
table#project_details td {
  padding: 0.5em 1em;
  border: thin solid #E8E8E8;
  white-space: nowrap;
}
  </style>
{% endblock %}

{% block title %}{{project}}{% endblock %}
{% block patch_active %}active{% endblock %}

{% block body %}
<div class="pure-g">
  <div class="pure-u-3-5">
    <h3>Patch Metrics</h3>
    <p>Linaro contributions to {{project}}.</p>

    <strong>Patches per month:</strong> <span style="color:#B0B0D0">Submitted</span>
    <span style="color:#699509">Accepted</span>
    <br/>
    <canvas id="month_chart" height="250" width="500"></canvas>
    <script>
        var ctx = document.getElementById("month_chart").getContext("2d");
        var chart = new Chart(ctx).Line(monthChartData);
    </script>
  </div>

  <div class="pure-u-2-5">
    <h3>Project Details</h3>
    <table id="project_details">
      <tr>
        <th>List address</th><td>{{project.listemail}}</td>
      </tr>
      <tr>
        <th>Source tree</th><td>{{project.scm_url}}</td>
      </tr>
      <tr>
        <th>Last commit scanned</th><td>{%if project.last_commit%}<a href="{{project.webscm_url}}/{{project.last_commit}}">{{project.last_commit}}</a>{%endif%}</td>
      </tr>
    </table>
  </div>
</div>
{% include "patchwork/patch-list.html" %}
{% endblock %}
