{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block heading %}Projects{% endblock %}

{% block body %}

<ul>
 {% for p in projects %}
   <li>
     <a href="{% url 'patchwork.views.patch.patch_list' project_id=p.linkname %}">{{p.name}}</a>
   </li>
 {% endfor %}
</ul>

{% endblock %}
