{% extends "base.html" %}

{% block title %}Linaro Reports: Project Activity{% endblock %}
{% block heading %}Project Activity{% endblock %}

{% block body %}

<h2>Top {{ summary|length}} Linaro Project Contributions</h2>
<table class="table">
  <tr><th>Project</th><th>12 months</th><th>6 months</th><th>3 months</th><th>1 month</th></tr>
{% for s in summary %}
  <tr class="{% cycle 'odd' 'even' %}">{% for td in s %}<td>{{td}}</td>{% endfor %}</tr>
{% endfor %}
<table>

<h2>Top Accepted {{ summary|length}} Linaro Project Contributions</h2>
<table class="table">
  <tr><th>Project</th><th>12 months</th><th>6 months</th><th>3 months</th><th>1 month</th></tr>
{% for s in accepted %}
  <tr class="{% cycle 'odd' 'even' %}">{% for td in s %}<td>{{td}}</td>{% endfor %}</tr>
{% endfor %}
<table>

{% endblock %}
