{% extends "base.html" %}

{% block title %}Teams{% endblock %}
{% block heading %}Teams{% endblock %}

{% block body %}

{% if teams %}
<ul>
 {% for t in teams %}
   <li>
     <a href="{% url 'linaro_metrics.views.team_view' team=t.name %}">{{t.name}}</a>
   </li>
 {% endfor %}
</ul>
{% else %}
 <p>No teams are configured!</p>
{% endif %}

{% endblock %}
