{% extends "base.html" %}
{% block headers %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script>
    var monthChartData = {
      "datasets": [
	{
          "data": [{% for item in metrics %}{{item.1}},{% endfor %}],
          "pointStrokeColor": "#B0B0D0",
          "fillColor": "rgba(220,220,220,0.5)",
          "pointColor": "#B0B0D0",
          "strokeColor": "rgba(220,220,220,1)"
        },
	{
          "data": [{% for item in metrics %}{{item.2}},{% endfor %}],
          "pointStrokeColor": "#699509",
          "fillColor": "rgba(220,220,220,0.5)",
          "pointColor": "#699509",
          "strokeColor": "rgba(220,220,220,1)"
        },
      ],
      "labels": [
      {% for item in metrics %}
        "{{item.0}}",
      {% endfor %}
      ]
    };

    var acceptChartData = {
      labels: [{%for item in acceptance%}"{{item.0}}{%if forloop.last%}+{%endif%}",{%endfor%}],
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,0.8)",
          highlightFill: "rgba(220,220,220,0.75)",
          highlightStroke: "rgba(220,220,220,1)",
          data: [{%for item in acceptance%}"{{item.1}}",{%endfor%}],
        },
      ],
    };

  </script>
   <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
    {'gtm.start': new Date().getTime(),event:'gtm.js'}
    );var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N87XCWM');
  </script>
    <!-- End Google Tag Manager -->
{% endblock %}

{% block title %}Patches credited to the "{{team}}" team{% endblock %}
{% block heading %}Patches credited to the "{{team}}" team{% endblock %}

{% block body %}
<div class="pure-g">
  <div class="pure-u-4-5">
    <h3>Patch Metrics</h3>
    <p>There are <strong>{{team.total_submitted}}</strong> patches submitted by
      members of this team, and <strong>{{team.total_accepted}}</strong> of those
      have been accepted upstream.</p>

    <div class="pure-g">
      <div class="pure-u-3-5">
        <strong>Patches per month:</strong> <span style="color:#B0B0D0">Submitted</span>
	<span style="color:#699509">Accepted</span>
        <canvas id="month_chart" height="250" width="400"></canvas>
        <script>
	  var ctx = document.getElementById("month_chart").getContext("2d");
          var chart = new Chart(ctx).Line(monthChartData);
        </script>
        <form method="GET">
           <select id="DataType" name="months" onchange="form.submit();">
             {% for month in months %}
             <option value="{{ month }}"{% if month == returned_month  %} selected{% endif %}>{{ month }} Months</option>
             {% endfor %}
        </select></form>
      </div>
      <div class="pure-u-2-5">
        <strong>Time-to-acceptance distribution</strong> (in days)
	<canvas id="accept_chart" height="250" width="300"></canvas>
        <script>
	  var ctx = document.getElementById("accept_chart").getContext("2d");
          var chart = new Chart(ctx).Bar(acceptChartData);
        </script>
      </div>
    </div>
  </div>

  <div class="pure-u-1-5">
    <h3>Current Members</h3>
    <ul>
    {% for m in memberships %}
      <li><a href="/patches/{{m.user.id}}/">
      {% if m.user.first_name %}
      {{m.user.first_name}} {{m.user.last_name}}
      {% else %}
      {{m.user}}
      {% endif %}
      </a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% include "patchwork/patch-list.html" %}
{% endblock %}
