{% extends "base.html" %}
{% block body %}

<h2>Forbidden</h2>
<p>The Linaro patchwork instance only allows Linaro LDAP users. You should be
able to login to this server using your linaro-login email address.</p>

{% endblock %}
