{% extends "base.html" %}

{% block title %}Patches credited to {{patch_user}}{% endblock %}
{% block heading %}Patches credited to {{patch_user}}{% endblock %}

{% block body %}

<div class='members'>
 <h2>Current Team Memberships</h2>
 <ul>
 {% if memberships %}
 {% for m in memberships %}
   <li>{{m.team.name}}</li>
 {% endfor %}
 {% else %}
   <li>None</li>
 {% endif %}
 </ul>
</div>

{% with user=patch_user %}
  {% include "patchwork/patch-list.html" %}
{% endwith %}

{% endblock %}
